<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Withdraw Request - ProxiBiz</title>
  </head>
  <body>
    <div class="container">
      <div class="message">
        <p>Hello <%= withdraw.name %>,</p>
      <P>Your withdrawal request of GHS <%= withdraw.amount %> is processing. It will take 3 to 7 days to process!</P>
      </div>
        <p>&copy; 2024 ProxiBiz. All rights reserved.</p>
      </div>
    </div>
  </body>
</html>
