<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Withdraw Confirmation - ProxiBiz</title>
  </head>
  <body>
    <div class="container">
      <div class="message">
      <p>Hello ${withdraw.name}, Your withdraw request of ${withdraw.amount}$ is on the way. Delivery time depends on your bank's rules it usually takes 3days to 7days.</p>
      </div>
        <p>&copy; 2024 ProxiBiz. All rights reserved.</p>
      </div>
    </div>
  </body>
</html>


